@model Proiect3.ViewModel.MedicPacientViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details for @Html.DisplayFor(model => model.Medic.NumeMedic) @Html.DisplayFor(model => model.Medic.PrenumeMedic)</h2>

<div class="card">
    <div class="card-header">
        <h4>Medic</h4>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                Doctor Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Medic.NumeMedic) @Html.DisplayFor(model => model.Medic.PrenumeMedic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Medic.Specializare)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Medic.Specializare)
            </dd>
        </dl>

        @if (Model.Pacients.Count > 0)
        {
            <h5>The pacients of this doctor</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">CNP</th>
                        <th scope="col">Adress</th>
                        <th scope="col">Insurance</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pacients)
                    {
                        <tr>
                            <td>@item.NumePacient</td>
                            <td>@item.PrenumePacient</td>
                            <td>@item.CNP</td>
                            <td>@item.Adresa</td>
                            <td>@item.Asigurare</td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Pacient", new { id = item.PacientId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="card-footer">
        <p>
            <a class="btn btn-primary"
               asp-action="Edit" asp-controller="Medic" asp-route-id="@Model.Medic.MedicId">
                Edit
            </a>
            <a class="btn btn-primary"
               asp-action="Index" asp-controller="Medic">
                Back to List
            </a>
        </p>
    </div>
</div>